.foto-pchelo {
  display: block; // блочная
  margin: 2rem auto 1.5rem;
  position: relative; //чтобы бордер не исчезал  под картинкой

  //border: 2px solid $border-foto;
  border: 2px solid $border-linia-nav ;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
  border-radius: 5px;
}
.pchelo-reg {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-reg.png');
  width: 713px;
  height: 813px;
}

.pchelo-spisok {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-spisok.png');
  width: 782px;
  height: 343px;
}

.pchel-kateg {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-kateg.png');
  width: 731px;
  height: 397px;
}

.pchel-rasa {
  background-image: url('../../../../images/foto-for-help/pchelos/rasa-zapr.png');
  width: 762px;
  height: 399px;
}

.pchelo-redakt {
  background-image: url('../../../../images/foto-for-help/pchelos/pchel-redakt.png');
  width: 761px;
  height: 344px;
}

.pchelo-spisok-wse {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-spisok-wse.png');
  width: 1155px;
  height: 275px;
}

.pchelo-shifr {
  background-image: url('../../../../images/foto-for-help/pchelos/pchelo-shifr.png');
  width: 779px;
  height: 339px;
}

.kateg-zapr {
  background-image: url('../../../../images/foto-for-help/pchelos/kateg-zapr.png');
  width: 585px;
  height: 520px;
}

.rasaa-zapr {
  background-image: url('../../../../images/foto-for-help/pchelos/rasaa-zapr.png');
  width: 660px;
  height: 496px;
}




