<div >
    <h2 class="storie-teni storie-teni--em3">
        Вы участник проекта
    </h2>
    <h1 class="storie-teni"> Рег-Те-Ма</h1>

</div>
<div class="proekts pro-mesto ma-to-2">

    <div class="wstavka nav-teni">
        Работа с матками: Пчело, Бренд, Элит
    </div>
    <div class="proekts-plr  ">
        <ul class="mestoo__title">
            <li class="sidebarr__footer-text">
                Начинаем работу с <span class="blink"> матками </span>
                переходим по ссылке
                <a class="btnn btnn-pchel" href="{{ path('proekt') }}">тут</a>
                или  <span class="blink"> в меню </span>
            </li>

            <li class="mestoo__title-item ">
                <div class="foto-nachalo es-uchastnik"></div>
            </li>
        </ul>
    </div>
</div>


